.fileInput {
  background-color: #a5ae9e;
  color: white;
  padding: 10px 40px 14px 10px;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}
.customFileUpload {
  background-color: #7e846b;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  text-wrap: nowrap;
}

.customFileUpload:hover {
  background-color: #575538;
}

.fileText {
  margin: 10px;
  color: #ffffff;
}

.uploadIcon {
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: 5px;
}
