.header {
    background-color:#2F2504;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
}

.brand h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.brand h1:hover {
    color: #b4b2b2;
    cursor: pointer;
}

.menu {
    list-style-type: none; 
    margin: 0;  
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left
}

a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
    font-size: larger;
}

a:hover {
    background-color: #111;
}