.mainButton {
  background-color: #e93e23;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.mainButton:hover {
  background-color: #d3291c;
}

.mainButton:active {
  background-color: #3d3f2d;
  transform: scale(0.95);
}
