.simpleSelect {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 0.5rem;
}

.selectBox {
  width: fit-content;
  background-color: #a5ae9e;
  border-radius: 5px;
  padding: 0 5px;
}

.selectBox select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #ffffff;
}

.selectBox select option {
  background-color: #a5ae9e;
  color: #ffffff;
}

.selectBox select:focus {
  outline: none;
}

.arrowDown {
  position: relative;
  top: 0.15rem;
  background-color: #7e846b;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  width: fit-content;
}

.inputLabel {
  float: left;
  width: fit-content;
  margin: 0.5rem 0;
}
