h4 {
  font-weight: lighter;
}

.cardButton {
  background-color: transparent;
  border: 3px solid #a7000e;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  width: 250px;
}
.cardButton:hover {
  background-color: #d3291c;
  color: white;
}
