h2 {
}

h4 {
  font-weight: lighter;
}

button {
  background-color: transparent;
  border: 3px solid #2f2504;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  width: 250px;
}
button:hover {
  background-color: #575538;
  color: white;
}
