.passwordInput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 1rem;
}

.passwordInputBox {
  background-color: #ff5229;
  border-radius: 5px;
}

.passwordInputBox input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  color: #ffffff;
  text-align: start;
  width: 15rem;
}

.passwordInputBox input[type="password"] {
  text-align: center;
}

.passwordInputBox input::placeholder {
  color: #ffffff9a;
}

.passwordInputBox input:focus {
  outline: none;
}

.inputLabel {
  float: left;
  width: fit-content;
  margin: 0.5rem 0;
  font-weight: bold;
}
